@{
    ViewBag.Title = "Manejo De Contenido";
}
<h2>
    Contenido
</h2>

@Html.AntiForgeryToken()

<table id="data">
</table>
<div id="pager">
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var getGridCount = function () {
                var count = $("#data").data("count");
                return count === undefined ? 0 : count;
            };            
            
            $("#data").jqGrid({
                url: '@Url.Action("List")',
                datatype: "json",
                mtype: 'POST',
                colNames: ['Id', 'Nombre'],
                colModel: [
                    { name: 'Id', index: 'Id', width: 55 },
                    { name: 'Nombre', index: 'Nombre', width: 90 }
                ],
                multiselect: false,
                postData: {
                    count: getGridCount,
                    __RequestVerificationToken: app.helpers.getAntiForgeryToken
                },
                pager: '#pager',
                rowNum: 10,
                rowList: [1,2,3,4,5,10, 25, 50],
                viewrecords: true,
                height: 'auto',
                width: '730',
                jsonReader: {
                    page: "Page",
                    total: "Total",
                    records: "Records",
                    root: "Rows",
                    repeatitems: false,
                    id: "Id"
                },
                caption: 'Gesti&oacute;n De P&aacute;ginas',
                emptyrecords: 'No hay P&aacute;ginas cargados.',
                loadComplete: function (data) {
                    app.fixes.gridLoadFix($(this), data);
                }                
            });

            $("#data").navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false },
                null,
                null,
                null,
                {}, //search
                {closeOnEscape: true }
                );            
        });
    </script>
}
