			<span class="breadcrumb_info">You are here:</span> 
			<a href="#">Home</a>
			<span> » </span><a href="#">About</a>
			<span> » </span><a href="#">Philosophy</a>
			<span> » </span><span class="current_crumb">We love what we do </span>
			<!-- end breadcrumb -->
