@using Combres
@using Sicemed.Web.Models.Roles
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="ThemeFuse">
    <meta name="Description" content="A short description of your company">
    <meta name="Keywords" content="Some keywords that best describe your business">
    <title>Medica - Medical Services</title>
    <link href="../../public/clinica/style.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../public/clinica/jquery.js"></script>    
    <script type="text/javascript" language="JavaScript" src="../../public/clinica/general.js"></script>
    <script type="text/javascript" language="JavaScript" src="../../public/clinica/jquery_003.js"></script>
    <script type="text/javascript" language="JavaScript" src="../../public/clinica/jquery_002.js"></script>
    <script type="text/javascript" language="JavaScript" src="../../public/clinica/slides.js"></script>
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="../../public/clinica/ie.css" />
    <![endif]-->
</head>
<body>
    <div class="body_wrap">
        <div class="header">
            <div class="header_top">
                <div class="container">
                    <div class="logo">
                        <a href="http://themefuse.com/demo/html/Medica/index.html">
                            <img src="../../public/clinica/logo.png" alt="Medica" height="80" width="210"></a></div>
                    <div class="header_contacts">
                        <p>
                            Call us directly: <span class="icon_phone">1-800-643-4300</span></p>
                        <p>
                            5 East Hyde Park, Chicago <a href="http://themefuse.com/demo/html/Medica/locations.html"
                                class="icon_map">View Location</a></p>
                    </div>
                </div>
            </div>
            <div class="header_menu">
                <div class="container">
                    <div class="topmenu">
                        <ul class="dropdown">
                            @Html.Partial("_MenuClinica", ViewData["_Menu"])
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header image/slider -->
            <div class="header_bot header_image">
                <div class="container">
                    <img src="../../public/clinica/header_image_2.jpg" alt="" height="142" width="960">
                </div>
            </div>
            <!--/ header image/slider -->
        </div>
        <!--/ header -->
        <!-- middle -->
        <div class="middle sidebarRight">
            <div class="container_12">
                <!-- content -->
                <div class="grid_8 content">
                    <div class="post-item">
                        <h1>
                            @ViewBag.Title
                        </h1>
                        <div class="entry">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!--/ content -->
                <!-- sidebar -->
                <div class="grid_4 sidebar">
                    <div id="categories-5" class="widget-container widget_nav_menu">
                        <ul>
                            <li class="current-menu-item even"><a href="#"><span>Medical Center Tour</span></a></li>
                            <li><a href="#"><span>Staff &amp; Personal</span></a></li>
                            <li class="even"><a href="#"><span>Our History</span></a></li>
                            <li><a href="#"><span>Experience &amp; Technology</span></a></li>
                            <li class="even"><a href="#"><span>Why our facility?</span></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ sidebar -->
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="middle_bot">
        </div>
        <!--/ middle -->
        <!-- footer -->
        <div class="footer">
            <div class="container_12">
                <div class="grid_2">
                    <h3>
                        Patient Care</h3>
                    <ul>
                        <li><a href="#">Request Appointment</a></li>
                        <li><a href="#">Treatment &amp; Diagnosis</a></li>
                        <li><a href="#">Plan Your Visit</a></li>
                        <li><a href="#">Find a Doctor</a></li>
                    </ul>
                </div>
                <div class="grid_2">
                    <h3>
                        Health Info</h3>
                    <ul>
                        <li><a href="#">Diseases &amp; Conditions</a></li>
                        <li><a href="#">Symptom Checker</a></li>
                        <li><a href="#">Drugs &amp; Supplements</a></li>
                        <li><a href="#">Tests &amp; Procedures</a></li>
                    </ul>
                </div>
                <div class="grid_2">
                    <h3>
                        Research</h3>
                    <ul>
                        <li><a href="#">Explore Research Areas</a></li>
                        <li><a href="#">Find Clinical Trials</a></li>
                        <li><a href="#">Research Faculty</a></li>
                    </ul>
                </div>
                <div class="grid_2">
                    <h3>
                        Carriers</h3>
                    <ul>
                        <li><a href="#">Online Services for Ref...</a></li>
                        <li><a href="#">Physicians</a></li>
                        <li><a href="#">Grand Rounds</a></li>
                    </ul>
                </div>
                <div class="grid_4">
                    <div class="text-center">
                        <p>
                            <img src="../../public/clinica/logo_footer.png" alt="" height="34" width="200"></p>
                        <br>
                        <p>
                            1251-A Nowhere Boulevard<br>
                            City of OuttaSight, State 90378</p>
                    </div>
                </div>
                <div class="clear">
                </div>
                <div class="copyright">
                    © 2011 WordPress theme by <a href="http://themefuse.com/">Themefuse.com</a></div>
            </div>
        </div>
    </div>
</body>
</html>
