@using Sicemed.Web.Models
@model IEnumerable<Pagina>
           
@foreach (var pagina in Model)
{
    <li>
        <a href="@Url.Action("Index", "Content", new {id = pagina.Id, Area = ""})">
            <span class="sdt_active">&nbsp;</span>
            <span class="sdt_wrap">
                <span class="sdt_link">@pagina.Nombre</span>
                <span class="sdt_descr"></span>
            </span>
        </a>
        @if (pagina.Hijos.Any())
        {
            <div class="sdt_box">
                @foreach (var hijo in pagina.Hijos)
                {
                    <a href="@Url.Action("Index", "Content", new {id = hijo.Id, Area = ""})">@hijo.Nombre</a>
                }
            </div>
        }
    </li>
}