<div class="box box_mini">
    <h4>
        Latest News</h4>
    <ul>
        <li><a href="single.html">Our New Page is online</a></li>
        <li><a href="single.html">Flash Slider Released</a></li>
        <li><a href="single.html">Apple buys Microsoft</a></li>
        <li><a href="single.html">Adobe buys Macromedia</a></li>
    </ul>
</div>
<div class="box box_mini">
    <h4>
        Pages</h4>
    <ul>
        <li><a href="index-2.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="page.html">About Us</a></li>
        <li><a href="fullwidth.html">Jobs</a></li>
        <li><a href="page.html">Philosophy</a></li>
    </ul>
</div>
<div class="box box_mini">
    <h4>
        Template Files</h4>
    <ul>
        <li><a href="index-2.html">Index</a></li>
        <li><a href="index_fadeslide.html">Index - Fading Slider</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="single.html">Single Blog Page</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="portfolio.html">Single Portfolio Page</a></li>
        <li><a href="page.html">Page</a></li>
        <li><a href="fullwidth.html">Page Fullwidth</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="http://www.kriesi.at/demos/elementia/water/archive.html">Archive</a></li>
    </ul>
</div>
<div class="box box_mini">
    <h4>
        Miscellaneous</h4>
    <ul>
        <li><a href="page.html">Register</a></li>
        <li><a href="page.html">Log in</a></li>
        <li><a href="page.html">Terms of Service</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="page.html">Site Map</a></li>
    </ul>
</div>
