@if (false) {
    <div class='box'>
        <h3>
            <a href='single.html'>HTML Template „Elementia“</a></h3>
        <p>
            Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo conse.
        </p>
        <!-- end box -->
    </div>
}
<div class='box'>
    <h3>
        Miscellaneous</h3>
    <ul>
        <li><a href="page.html">Register</a></li>
        <li><a href="page.html">Log in</a></li>
        <li><a href="page.html">Terms of Service</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="page.html">Site Map</a></li>
    </ul>
</div>
<div class='box'>
    <h3>
        <a href='single.html'>Rising Stats with this theme</a></h3>
    <p>
        Lorem ipsum dolor
        sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo conse.
    </p>
    <!-- end box -->
</div>
