@foreach (var node in Sicemed.Web.Plumbing.Helpers.UrlHelperExtensions.GetSiteMapNodes())
{
    @node.Key
}
<ul id="nav">
	<li><a href="index-2.html">Home</a>
	<ul>
		<li><a href="index-2.html">Index - Curtain Slider</a></li>
		<li><a href="index_accordion.html">Index - Accordion Slider</a></li>
		<li><a href="index_fadeslide.html">Index - Fading Slider</a></li>
		<li><a href="index_newsslide.html">Index - News Slider</a></li>
		<li class='current'><a href="index_noslide.html">Index - No Slider</a></li>
	</ul>
	</li>
				
	<li><a href="blog.html">Blog</a></li>
	<li><a href="portfolio.html">Portfolio</a></li>
	<li class='current'><a href="page.html">Templates</a>
	<ul>
		<li><a href="index-2.html">Index</a></li>
		<li><a href="index_accordion.html">Index - Accordion Slider</a></li>
		<li><a href="index_fadeslide.html">Index - Fading Slider</a></li>
		<li><a href="index_newsslide.html">Index - News Slider</a></li>
		<li><a href="index_noslide.html">Index - No Slider</a></li>
		<li><a href="blog.html">Blog</a></li>
		<li><a href="single.html">Single Blog Page</a></li>
		<li><a href="portfolio.html">Portfolio Page</a></li>
		<li><a href="page.html">Page</a></li>
		<li><a href="fullwidth.html">Page Fullwidth</a></li>
		<li><a href="contact.html">Contact</a></li>
		<li><a href='#'>Second Level &raquo;</a>
			<ul>
			<li><a href='#'>Just for</a></li>
			<li><a href='#'>Demonstration</a></li>
			<li><a href='#'>Purpose</a></li>
			</ul>
		</li>
		</ul>
	</li>
	<li><a href="contact.html">Contact</a></li>
</ul>
