@using System.Text

@model IEnumerable<Sicemed.Web.Models.ViewModels.Menu.PageViewModel>
           
@functions{
    public string RenderMenuItem(dynamic page)
    {
        var html = new StringBuilder();
        html.AppendFormat("<li class=\"{0} {1} {2} {3} {4}\">",
            page.IsFirst ? "first" : string.Empty, 
            page.IsParent ? "parent": string.Empty,
            page.IsCurrentItem ? "current-menu-item" : string.Empty,
            page.IsCurrent ? "current-menu-ancestor" : string.Empty, 
            page.IsLast ? "last": string.Empty);

        html.AppendFormat("<a href=\"{0}\"><span>{1}</span></a>", page.Url, page.Name);

        if (page.IsParent)
        {
            html.Append("<ul>");
            foreach (var child in page.Childs)
            {
                html.Append(RenderMenuItem(child));
            }
            html.Append("</ul>");
        }
        
        html.Append("</li>");
        
        return html.ToString();
    }
}

@foreach (var page in Model)
{
    @Html.Raw(RenderMenuItem(page))
}