@{
    ViewBag.Title = "Obtener Turno";
}
<h2>
    Obtener Turno
</h2>
<div class="wizard-steps" data-bind="foreach: stepModels">
    <div data-bind="attr: {class: $parent.getClass($data) }">
        <a data-bind="click: $parent.changeStep" href="#"><span data-bind="text: $data.id"></span>
            <b data-bind="text: $data.name"></b></a>
    </div>
</div>
<div class="ui-helper-clearfix">
</div>
<article data-bind="template: { name: 'currentTmpl', afterRender: currentStep().init }">
</article>
<div id="calendar">
</div>
<script id="currentTmpl" type="text/html">
    <div data-bind="template: { name: getTemplate()}"></div> 
</script>
<div id="selectProfesionales">
    <script id="stepSeleccionProfesional" type="text/html">
        <form>
            <div class="row">
                <label>
                    Especialidad:
                </label>
                <select class="select_styled" data-bind="options: especialidades, optionsText: 'Nombre', value: especialidadSeleccionada, optionsCaption: '-- Todas --'">
                </select>            
                &nbsp;
                <label>
                    Profesional:
                </label>
                <input type="text" class="inputtext required" data-bind="value: profesionalABuscar" />
                &nbsp;
                <button data-bind="click: buscarProfesionales">Buscar</button>
            </div>
            <div data-bind='template: { name: "profesionalEncontrado"}'> </div>
        </form>
    </script>
    <script id="profesionalTemplate" type="text/html">
        <div class="row">                             
            <h4>${Nombre}</h4>                        
            <ul>
                {{each Especialidades}}
                <li>${Descripcion}</li>
                {{/each}}
            </ul>
        </div>
    </script>
    <script id="stepSeleccionTurno" type="text/html">
        <h4>Agenda <span data-bind="text: profesionalSeleccionado().Nombre"></span></h4>
    </script>
    <script id="profesionalEncontrado" type="text/html">
        {{each(i, profesional) profesionalesEncontrados}}        
        <div class="profesional">
            {{tmpl(profesional) "#profesionalTemplate"}}
            {{if ProximoTurnoLibre}}
            <div>
                Pr&oacute;ximo Turno: <a href="" data-bind="click:function(){ profesional.reservarTurnoLibre() },text: app.format.fulldate(ProximoTurnoLibre.FechaTurnoInicial)"></a>
                <br/>
                <a href="" data-bind="click: function(){ profesional.elegirTurnoEnAgenda()}">Buscar turno en la agenda</a>
            </div>
            {{else}}
            <div class="ui-state-error-text">El profesional no cuenta con turnos disponibles.</div>
            {{/if}}
        </div>
        {{/each}}
    </script>
    <script id="stepConfirmar" type="text/html">        
        <h3 class="text-blue">Reservar Turno</h3>
        <div>
            A continuaci&oacute;n podr&aacute; revisar los datos del turno y profesional seleccionado. 
            Una vez que haya comprobado que son correctos, proceda de reservar el turno haciendo click en el bot&oacute;n 
            "Reservar Turno"
        </div>
        <div style="float: left; margin: 30px;">
            <h3 class="text-blue">Profesional</h3>
            {{tmpl(profesionalSeleccionado()) "#profesionalTemplate"}}
        </div>        
        <div style="float: left; margin: 30px;">
            <h3 class="text-blue">Turno</h3>
            <span class="text-blue">Fecha Turno:</span> <span data-bind="text: app.format.date(turnoSeleccionado().FechaTurnoInicial)"></span>
            <br/>
            <span class="text-blue">Horario:</span><span data-bind="text: app.format.hour(turnoSeleccionado().FechaTurnoInicial)"></span> / 
            <span data-bind="text: app.format.hour(turnoSeleccionado().FechaTurnoFinal)"></span>
            <br/>
            <span class="text-blue">Consultorio:</span> <span data-bind="text: turnoSeleccionado().Consultorio.Descripcion"></span>
            <br/>
            <span class="text-blue"> Especialidad:</span>            
            <select data-bind="visible: !especialidadSeleccionada(), options: turnoSeleccionado().EspecialidadesAtendidas, optionsText: 'Descripcion', value: especialidadAgendaSeleccionada, optionsCaption: '-- Seleccione --'">
            </select>            
            <span data-bind="visible: especialidadSeleccionada(), text: especialidadSeleccionada() ? especialidadSeleccionada().Descripcion : ''"></span>
        </div>
        <div  style="clear: both;">
            <button data-bind="click: reservar">Reservar Turno</button>            
        </div>
    </script>
    <script id="stepComprobante" type="text/html">
        <h3 class="text-blue">Comprobante Turno</h3>
        <p>
            Su turno ha sido reservado con &eacute;xito.
        </p>
        <p>
            Puede descargar un comprobante del turno haciendo click en el bot&oacute;n imprimir.
        </p>
        <div>
            <button data-bind="click: imprimir">Imprimir</button>
        </div>
    </script>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/public/js/libs/jquery.mockjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/public/js/features/ObtenerTurno/index.js")"></script>
}
