@model Sicemed.Web.Models.ViewModels.Profesional.AgendaProfesionalViewModel
@{
    ViewBag.Title = "Calendario Profesional";
}
<h2>
    Calendario Profesional
</h2>
<h3>@Model.PersonaNombreCompleto</h3>

@if (Model.Turnos.Any())
{
    <div class="ui-state-highlight padding">
        Le restan @Model.PacientesPendientes pacientes por atenderse. Y @Model.TurnosPendientes
        pendientes de presentarse.
    </div>
    <div class="ctl-accordion">
        @foreach (var turno in Model.Turnos)
        {
            @Html.DisplayFor(m => turno)
        }
    </div>
}
else
{
    <div class="ui-state-highlight padding">
        No hay pacientes en la agenda.
    </div>    
}