@model Sicemed.Web.Models.ViewModels.Paciente.AgendaPacienteViewModel
@{
    ViewBag.Title = "Agenda Profesional";
}
<h2>
    Agenda
</h2>
<p>
    Aqu&iacute; podr&aacute; ver un listado de sus pr&oacute;ximos turnos.
</p>
@if (Model.Turnos.Any())
{
    <div class="ctl-accordion">
        @foreach (var turno in Model.Turnos)
        {
            @Html.DisplayFor(m => turno)
        }
    </div>
}
else
{
    <div class="msg-error">
        No hay turnos en su agenda.
    </div>    
}