@model Sicemed.Web.Models.ViewModels.ListadoProfesionales.ListadoProfesionalesViewModel
@{
    ViewBag.Title = "ListadoProfesionales";
}

<h2>
    Listado de Profesionales
</h2>
<p>
    Estos son los profesionales que atienden en nuestra institución

    EN CONSTRUCCIÓN
</p>
