@model Sicemed.Web.Models.ViewModels.Secretaria.EdicionObraSocialTurnoEditModel
@{
    ViewBag.Title = "EditarObraSocialTurno";
}

<h3>Modificar Forma Pago Atenci&oacute;n</h3>
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummaryWithMessage()

    @Html.EditorForModel()

    @Html.Submit("Guardar")        
    }
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PlanId").change(function () {
                var op = $(this).find("option:selected").text();
                if (op=="Consulta Particular")
                {
                    $('#NumeroAfiliado').val("99999999");
                }
                else
                {
                    $('#NumeroAfiliado').val("");
                };
            });
        });
    </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#ObraSocialId").change(function () {
                    $('#NumeroAfiliado').val("");
                });
            });
    </script>
}


