@model Sicemed.Web.Models.ViewModels.Secretaria.EdicionObraSocialTurnoEditModel
@{
    ViewBag.Title = "EditarObraSocialTurno";
}

<h3>Modificar Forma Pago Atenci&oacute;n</h3>
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummaryWithMessage()

    @Html.EditorForModel()

    @Html.Submit("Guardar")        
    }


