@model Sicemed.Web.Models.ViewModels.Secretaria.OtorgarTurnoEditModel
@{
    ViewBag.Title = "Otorgar Turno";
}
@section Css{
    <style type="text/css">
        select
        {
            width: 100%;
        }
    </style>
}
<h2>Otorgar Turno</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummaryWithMessage()

    @Html.EditorForModel()

    @Html.Submit("Otorgar")        
}

<script id="tmplBusquedaPaciente" type="text/x-jquery-tmpl">
    ${NombreCompleto} <br/><span style="font-style: italic; font-size: x-small"> ${TipoDocumento} ${Documento} </span>
</script>