@using Sicemed.Web.Models.ViewModels.Cuenta
@model RecuperarPasswordViewModel

@{
    ViewBag.Title = "Recuperar Password";
}

<h2>Recuperar Password</h2>
<p>
    Por favor ingrese su Email para proceder al recupero de su Password.
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummaryWithMessage()
    
    @Html.EditorForModel()
    
    @Html.Submit()
}
