@model Sicemed.Web.Models.Persona
<p>
    Estimado @Model.NombreCompleto,
    <br />
    Para recuperar su password haga 
    <a href="@Url.Abs(@Url.Action("RecuperarPasswordMail", "Cuenta", new { t = ViewBag.Token, m = Model.Membership.Email }))"> click aqu&iacute;.</a>
</p>
