@model Sicemed.Web.Models.Persona
@{
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}
<p>
    Estimado @Model.NombreCompleto le damos la bienvenida a SICEMED, una nueva forma de gestionar sus turnos.    
</p>

