@using Sicemed.Web.Models.Roles
@model Secretaria
           
<div id="wdSecretaria" title="Secretaria" class="ui-jqdialog-content">
    <form style="width: 100%; overflow: auto; position: relative; height: auto;" onsubmit="return false;"
    class="FormGrid" id="FrmGrid_data" name="FormPost">
    <table cellspacing="0" cellpadding="0" border="0" class="EditTable" id="TblGrid_data">
        <tbody>
            <tr style="display: none;" id="FormError">
                <td colspan="2" class="ui-state-error">
                </td>
            </tr>
            <tr class="tinfo" style="display: none;">
                <td colspan="2" class="topinfo">
                </td>
            </tr>
            <tr rowpos="1" class="FormData" id="tr_Membership.Email">
                <td class="CaptionTD">
                    Email (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="Membership.Email" name="Membership.Email" role="textbox"
                        class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="2" class="FormData" id="tr_Apellido">
                <td class="CaptionTD">
                    Apellido (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="Apellido" name="Apellido" role="textbox" class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="3" class="FormData" id="tr_Nombre">
                <td class="CaptionTD">
                    Nombre (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="Nombre" name="Nombre" role="textbox" class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="4" class="FormData" id="tr_SegundoNombre">
                <td class="CaptionTD">
                    Segundo Nombre
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="SegundoNombre" name="SegundoNombre" role="textbox" class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="5" class="FormData" id="tr_Password">
                <td class="CaptionTD">
                    Password (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="password" id="Password" name="Password" role="textbox" class="FormElement">
                </td>
            </tr>
            <tr rowpos="6" class="FormData" id="tr_FechaNacimiento">
                <td class="CaptionTD">
                    Fecha Nacimiento (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="FechaNacimiento" name="FechaNacimiento" class="hasDatepicker FormElement ui-widget-content ui-corner-all"
                        role="textbox">
                </td>
            </tr>
            <tr rowpos="7" class="FormData" id="tr_Documento.TipoDocumento.Value">
                <td class="CaptionTD">
                    Tipo Documento (*)
                </td>
                <td class="DataTD">
                    &nbsp;<select role="select" id="Documento.TipoDocumento.Value" name="Documento.TipoDocumento.Value"
                        size="1" class="FormElement"><option role="option" value="3">DNI</option>
                        <option role="option" value="10">CUIT</option>
                    </select>
                </td>
            </tr>
            <tr rowpos="8" class="FormData" id="tr_Documento.Numero">
                <td class="CaptionTD">
                    Nro. Documento (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="Documento.Numero" name="Documento.Numero" role="textbox"
                        class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="9" class="FormData" id="tr_Domicilio.Direccion">
                <td class="CaptionTD">
                    Direccion (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="Domicilio.Direccion" name="Domicilio.Direccion" role="textbox"
                        class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="10" class="FormData" id="tr_ProvinciaId">
                <td class="CaptionTD">
                    Provincia
                </td>
                <td class="DataTD">
                    &nbsp;<select role="select" id="ProvinciaId" name="ProvinciaId" size="1" class="FormElement"><option
                        role="option" value="32768">Córdoba</option>
                        <option role="option" value="32769">Buenos Aires</option>
                        <option role="option" value="32770">Santa Fe</option>
                    </select>
                </td>
            </tr>
            <tr rowpos="11" class="FormData" id="tr_LocalidadId">
                <td class="CaptionTD">
                    Localidad
                </td>
                <td class="DataTD">
                    &nbsp;<select role="select" id="LocalidadId" name="LocalidadId" size="1" class="FormElement">
                        <option value="65536">Villa Carlos Paz</option>
                        <option value="65537">Marcos Juarez</option>
                    </select>
                </td>
            </tr>
            <tr rowpos="12" class="FormData" id="tr_Telefono.Prefijo">
                <td class="CaptionTD">
                    Caracteristica (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="Telefono.Prefijo" name="Telefono.Prefijo" role="textbox"
                        class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="13" class="FormData" id="tr_Telefono.Numero">
                <td class="CaptionTD">
                    Telefono (*)
                </td>
                <td class="DataTD">
                    &nbsp;<input type="text" id="Telefono.Numero" name="Telefono.Numero" role="textbox"
                        class="FormElement ui-widget-content ui-corner-all">
                </td>
            </tr>
            <tr rowpos="14" class="FormData" id="tr_Membership.IsLockedOut">
                <td class="CaptionTD">
                    Esta Bloquedo?
                </td>
                <td class="DataTD">
                    &nbsp;<input type="checkbox" value="true" offval="false" id="Membership.IsLockedOut"
                        name="Membership.IsLockedOut" role="checkbox" class="FormElement">
                </td>
            </tr>
            <tr style="display: none;" class="FormData">
                <td class="CaptionTD">
                </td>
                <td class="DataTD" colspan="1">
                    <input type="text" value="_empty" name="data_id" id="id_g" class="FormElement">
                </td>
            </tr>
        </tbody>
    </table>
    </form>
    <table cellspacing="0" cellpadding="0" border="0" id="TblGrid_data_2" class="EditTable">
        <tbody>
            <tr>
                <td colspan="2">
                    <hr style="margin: 1px" class="ui-widget-content">
                </td>
            </tr>
            <tr id="Act_Buttons">
                <td class="navButton">
                    <a class="fm-button ui-state-default ui-corner-left" id="pData" href="javascript:void(0)"
                        style="display: none;"><span class="ui-icon ui-icon-triangle-1-w"></span></a>
                    <a class="fm-button ui-state-default ui-corner-right" id="nData" href="javascript:void(0)"
                        style="display: none;"><span class="ui-icon ui-icon-triangle-1-e"></span></a>
                </td>
                <td class="EditButton">
                    <a class="fm-button ui-state-default ui-corner-all fm-button-icon-left" id="sData"
                        href="javascript:void(0)">Guardar<span class="ui-icon ui-icon-disk"></span></a><a
                            class="fm-button ui-state-default ui-corner-all fm-button-icon-left" id="cData"
                            href="javascript:void(0)">Cancelar<span class="ui-icon ui-icon-close"></span></a>
                </td>
            </tr>
            <tr class="binfo" style="display: none">
                <td colspan="2" class="bottominfo">
                </td>
            </tr>
        </tbody>
    </table>
</div>
