input[type="reset"],input[type="submit"],input[type="button"], button {
    width: 160px;
    text-transform: uppercase;
}

table.detail {
    border: 1px solid #ccc;
    text-align: left;
    width: 100%;
}

table.detail caption{
    border: 1px solid #ccc;
    background: #666;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

table.detail td
{
    width: 50%;
    text-align: left;
}

table.detail tr.even
{
    background: #f0f0f0;
}

.valid{border:1px solid #70A41B!important; overflow:hide;} /*#70A41B*/
.input-validation-error, .error {overflow:hide; border:1px solid red!important; }
