input[type="reset"], input[type="submit"], input[type="button"], button
{
    width: 160px;
    text-transform: uppercase;
}

table.detail
{
    border: 1px solid #ccc;
    text-align: left;
    width: 100%;
}

    table.detail caption
    {
        border: 1px solid #ccc;
        background: #666;
        color: #fff;
        text-align: left;
        font-weight: bold;
    }

    table.detail td
    {
        width: 50%;
        text-align: left;
    }

    table.detail tr.even
    {
        background: #f0f0f0;
    }

.valid
{
    border: 1px solid #70A41B !important;
    overflow: hide;
}
/*#70A41B*/
.input-validation-error, .error
{
    overflow: hide;
    border: 1px solid #cd0a0a /*{fcError}*/ !important;
}

.field-validation-error
{
    color: #cd0a0a /*{fcError}*/;
}

.validation-summary-errors
{
    border: 1px solid #cd0a0a /*{borderColorError}*/;
    background: #fef1ec /*{bgColorError}*/ url(../images/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png) /*{bgImgUrlError}*/ 50% /*{bgErrorXPos}*/ 50% /*{bgErrorYPos}*/ repeat-x /*{bgErrorRepeat}*/;
    color: #cd0a0a /*{fcError}*/;
    padding: 10px;
}

    .validation-summary-errors span
    {
        font-weight: bold;
    }

    .validation-summary-errors ul
    {
        padding-left: 15px;
    }

        .validation-summary-errors ul li
        {
            color: #cd0a0a /*{fcError}*/;
        }

.ui-state-sucess, .ui-widget-content .ui-state-sucess, .ui-widget-header .ui-state-sucess
{
    border: 1px solid #2e8f19;
    background: #70A41B !important;
    color: #fbf9ee;
}

    .ui-state-sucess a, .ui-widget-content .ui-state-sucess a, .ui-widget-header .ui-state-sucess a
    {
        color: #363636;
    }


/* Form */
fieldset.form
{
}

    fieldset.form li
    {
        list-style: none;
        border-top: 1px solid whiteSmoke; /*padding: 5px 0;*/
    }

.editor-label
{
    display: inline-block;
    padding-left: 16px;
    vertical-align: top;
    width: 150px;
}

.editor-label-required
{
    background: url(../images/theme/ribbon_required.png) no-repeat;
}

.editor-field
{
    display: inline-block;
}

/* Theme fix*/
div.ctl-collapsible
{
    margin-bottom: 15px;
}

    div.ctl-accordion h3, div.ctl-collapsible h3, div.ctl-accordion h3, div.ctl-collapsible h3
    {
        font-size: 16px !important;
        margin: 0 !important;
    }

input.time, input.date, input[type=date], input[type=time], input.ctl-timespan, input.decimal
{
    width: 75px;
}

input.decimal {
    text-align: right;
}



/* TURNOS
**/

.turno
{
    border: 3px solid #474747;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.turno-otorgado
{
    border-color: #474747;
}

.turno-presentado
{
    border-color: #008932;
}

.turno-cancelado
{
    border-color: #cd0a0a;
}

.turno-atendido
{
    border-color: #12A0A9;
}

.turno-ausente
{
    border-color: #a700e8;
}

.paciente-primera-vez {
    color: #f30606 !important;
    font-weight: bold;
}
.paciente-control {
    color: #a700e8 !important;
    font-weight: bold;
}

.turno-duracion-corto {
    color: #33CC52 !important;
    font-weight: bold;
}
.turno-duracion-mediano {
    color: #36C !important;
    font-weight: bold;
}
.turno-duracion-largo {
    color: #6A33CC !important;
    font-weight: bold;
}

.ctl-accordion .turno
{
    border: none;
    margin: inherit;
    padding: inherit;
}

.ctl-accordion ol.turnos .turno-otorgado,
.ctl-accordion ol.turnos .turno-otorgado h4
{
    color: #474747;
}

.ctl-accordion ol.turnos .turno-presentado,
.ctl-accordion ol.turnos .turno-presentado h4
{
    color: #008932;
}

.ctl-accordion ol.turnos .turno-cancelado,
.ctl-accordion ol.turnos .turno-cancelado h4
{
    color: #cd0a0a;
}

.ctl-accordion ol.turnos .turno-atendido,
.ctl-accordion ol.turnos .turno-atendido h4
{
    color: #12A0A9;
    font-style: italic;
}

.ctl-accordion ol.turnos .turno-ausente,
.ctl-accordion ol.turnos .turno-ausente h4
{
    color: #a700e8;
    text-decoration: line-through;
}

.ctl-accordion ol.turnos
{
    margin: 0;
}

    .ctl-accordion ol.turnos li
    {
        list-style-type: none;
        margin-bottom: 20px;
        border-bottom: 1px dotted #474747;
        border-radius: 0;
    }

.msg-error
{
    clear: both;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.7em; /*.ui-state-error*/
    border: 1px solid #cd0a0a;
    background: #fef1ec url(../images/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a; /*.ui-corner-all*/
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.msg-info
{
    clear: both;
    border: 1px solid #fcefa1;
    background: #fbf9ee url(../images/jquery-ui/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.7em; /*.ui-state-error*/
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fecha-filtro
{
    color: #CA2B63 !important;
    font-size: 20px;
    font-weight: bold;
    width: 105px !important;
}


.tooltip .turno-libre
{
    padding: 15px;
}

.tooltip .turno-ocupado {
    background-color: #ca2b63;
}

.tooltip
{
    display: none;
    background-color: #fff;
    border: 2px solid #ca2b63;
    padding: 3px;
    font-size: 13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    z-index: 999999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.event-hover .fc-event-skin
{
    /*ui-state-highlight*/
    border: 1px solid #fcefa1!important;
    background: #fbf9ee url(../../public/images/jquery-ui/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x !important;
    color: #363636!important;
}

.profesional
{
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #12A0A9;
}
