input[type="reset"],input[type="submit"],input[type="button"], button {
    width: 160px;
    text-transform: uppercase;
}

table.detail {
    border: 1px solid #ccc;
    text-align: left;
    width: 100%;
}

table.detail caption{
    border: 1px solid #ccc;
    background: #666;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

table.detail td
{
    width: 50%;
    text-align: left;
}

table.detail tr.even
{
    background: #f0f0f0;
}

.valid{border:1px solid #70A41B!important; overflow:hide;} /*#70A41B*/
.input-validation-error, .error {overflow:hide; border:1px solid #cd0a0a/*{fcError}*/!important; }
.field-validation-error{color: #cd0a0a/*{fcError}*/;}
.validation-summary-errors {
    border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(../images/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/;
    padding: 10px;
}
.validation-summary-errors span {
    font-weight: bold;
}
.validation-summary-errors ul {
    padding-left: 15px;
}
.validation-summary-errors ul li {
    color: #cd0a0a/*{fcError}*/;
}

.ui-state-sucess, .ui-widget-content .ui-state-sucess, .ui-widget-header .ui-state-sucess  {border: 1px solid #2e8f19; background: #70A41B !important; color: #fbf9ee; }
.ui-state-sucess a, .ui-widget-content .ui-state-sucess a,.ui-widget-header .ui-state-sucess a { color: #363636; }


/* Form */
fieldset.form {
    
}
fieldset.form li 
{
    list-style: none;
    border-top: 1px solid whiteSmoke;
    /*padding: 5px 0;*/
}
.editor-label {    
    display: inline-block;
    padding-left: 16px;    
    vertical-align: top;
    width: 150px;
}
.editor-label-required {
    background: url(../images/theme/ribbon_required.png) no-repeat;
}
.editor-field {
    display: inline-block;
}

/* Theme fix*/
div.ctl-accordion h3, div.ctl-accordion h3 
{
    font-size: 16px!important;
    margin: 0 !important;
}

input[type=date],
input[type=time],
input.ctl-timespan {
    width: 75px;
}

/* TURNOS
**/

.historial .turno {
    border: 3px solid #474747;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.historial .presento {
    border-color:#474747;
}
.historial .atendio {
    border-color:#CA2B63;
}
.historial .ausente {
    border-color:#12A0A9;
}