/* 
http://www.emirplicanic.com/css/css-step-by-step-menu-wizard-style 
*/
/* = STEPS CONTAINER
----------------------------*/
.wizard-steps {
    margin:20px 10px 10px 10px;
    padding:0px;
    position: relative;
    clear:both;
    font-family: 'CartoGothicStdBold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 40px;
}
.wizard-steps div {
    position:relative;
}
/* = STEP NUMBERS
----------------------------*/
.wizard-steps span {
    display: block;
    float: left;
    font-size: 14px;
    text-align:center;
    width:15px;
    margin: 10px 5px 0px 0px;
    line-height:15px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
/* = DEFAULT STEPS
----------------------------*/
.wizard-steps a {
    position:relative;
    display:block;
    width:auto;
    height:40px;
    margin-right: 18px;
    padding:0px 10px 0px 3px;
    float: left;
    font-size:16px;
    line-height:40px;
    color:#666;
    background: #F0EEE3;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(255,255,255, 0.8);
    cursor: default;
}
.wizard-steps a:before {
    width:0px;
    height:0px;
    border-top: 20px solid #F0EEE3;
    border-bottom: 20px solid #F0EEE3;
    border-left:12px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -12px;
}
.wizard-steps a:after {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left:12px solid #F0EEE3;
    position: absolute;
    content: "";
    top: 0px;
    right: -12px;
}
 
/* = COMPLETED STEPS
----------------------------*/
 
.wizard-steps .completed-step a {
    color:#163038;
    background: #A3C1C9;
}
.wizard-steps .completed-step a:before {
    border-top: 20px solid #A3C1C9;
    border-bottom: 20px solid #A3C1C9;
}
.wizard-steps .completed-step a:after {
    border-left: 12px solid #A3C1C9;
}
.wizard-steps .completed-step span {
    border: 2px solid #163038;
    color: #163038;
    text-shadow:none;
}
/* = ACTIVE STEPS
----------------------------*/
.wizard-steps .active-step a {
    color:#FFF;
    background: #12A0A9;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .active-step a:before {
    border-top: 20px solid #12A0A9;
    border-bottom: 20px solid #12A0A9;
}
.wizard-steps .active-step a:after {
    border-left: 12px solid #12A0A9;
}
.wizard-steps .active-step span {
    color: #163038;
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    -moz-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    text-shadow:none;
    border: 2px solid #A3C1C9;
}
/* = HOVER STATES
----------------------------*/
.wizard-steps a:hover {
    color:#666; /* The default theme overrides the :hover with a pink*/
}

.wizard-steps .completed-step:hover a, .wizard-steps .active-step:hover a {
    color:#fff;
    background: #E42164;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
    cursor: pointer;
}
.wizard-steps .completed-step:hover span, .wizard-steps .active-step:hover span {
    color:#E42164;
}
.wizard-steps .completed-step:hover a:before, .wizard-steps .active-step:hover a:before {
    border-top: 20px solid #E42164;
    border-bottom: 20px solid #E42164;
}
.wizard-steps .completed-step:hover a:after, .wizard-steps .active-step:hover a:after {
    border-left: 12px solid #E42164;
}