@model string
<div class="msg-error">
    <p>
        @if (!string.IsNullOrWhiteSpace(Model))
        {
            @Model
        }
        else
        {
            @:Se ha producido un error en la aplicaci&oacute;n, por favor int&eacute;ntelo nuevamente en unos instantes.
                    }
    </p>
</div>
