@model Sicemed.Web.Areas.Admin.Models.Personas.AgendaEditModel
@using (Html.BeginCollectionItem("Profesional.Agendas"))
{
    <div class="editor-field-inner">
        @Html.EditorForModel()
        @Html.Hidden("Id")
        <a href="#" class="action-delete">Eliminar</a>   
    </div>
}