@using Sicemed.Web.Models.Roles
@model Secretaria
           
<div id="wdSecretaria" title="Secretaria" class="ui-jqdialog-content">
    <form style="width: 100%; overflow: auto; position: relative; height: auto;" onsubmit="return false;"
          class="FormGrid" id="FrmGrid_data" name="FormPost">
        <table cellspacing="0" cellpadding="0" border="0" class="EditTable" id="TblGrid_data">
            <tbody>
                <tr style="display: none;" id="FormError">
                    <td colspan="2" class="ui-state-error">
                    </td>
                </tr>
                <tr class="tinfo" style="display: none;">
                    <td colspan="2" class="topinfo">
                    </td>
                </tr>
                <tr rowpos="6" class="FormData" id="tr_FechaIngreso">
                    <td class="CaptionTD">
                        Fecha Ingreso (*)
                    </td>
                    <td class="DataTD">
                        &nbsp;<input type="text" id="FechaIngreso" name="FechaIngreso" class="date-picker FormElement"
                                     role="textbox">
                    </td>
                </tr>
                <tr style="display: none;" class="FormData">
                    <td class="CaptionTD">
                    </td>
                    <td class="DataTD" colspan="1">
                        <input type="text" value="_empty" name="data_id" id="id_g" class="FormElement">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <table cellspacing="0" cellpadding="0" border="0" id="TblGrid_data_2" class="EditTable">
        <tbody>
            <tr>
                <td colspan="2">
                    <hr style="margin: 1px" class="ui-widget-content">
                </td>
            </tr>
            <tr id="Act_Buttons">
                <td class="navButton">
                    <a class="fm-button ui-state-default ui-corner-left" id="pData" href="javascript:void(0)"
                       style="display: none;"><span class="ui-icon ui-icon-triangle-1-w"></span></a>
                    <a class="fm-button ui-state-default ui-corner-right" id="nData" href="javascript:void(0)"
                       style="display: none;"><span class="ui-icon ui-icon-triangle-1-e"></span></a>
                </td>
                <td class="EditButton">
                    <a class="fm-button ui-state-default ui-corner-all fm-button-icon-left" id="sData"
                       href="javascript:void(0)">Guardar<span class="ui-icon ui-icon-disk"></span></a><a
                                                                                                          class="fm-button ui-state-default ui-corner-all fm-button-icon-left" id="cData"
                                                                                                          href="javascript:void(0)">Cancelar<span class="ui-icon ui-icon-close"></span></a>
                </td>
            </tr>
            <tr class="binfo" style="display: none">
                <td colspan="2" class="bottominfo">
                </td>
            </tr>
        </tbody>
    </table>
</div>
