<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <log4net>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="44444" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
    </appender>
    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd"/>
      <file value="C:\sicemed.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date UserIp:%property{userIp} - RawUrl:%property{rawUrl} - ReferrerUrl:%property{referrerUrl} - UserId:%property{userId} - SessionId: %property{sessionId} - %message%newline"/>
      </layout>
      <rollingStyle value="Date"/>
    </appender>
    <appender name="AdoNetAppender" type="Sicemed.Web.Infrastructure.Logs.ConfigAdoNetAppender">
      <!-- 
      This example shows how to deliver only significant events. 
      A LevelEvaluator is specified with a threshold of WARN. 
      This means that the events will only be delivered when a message with level of WARN or higher level is logged. 
      Up to 25 (BufferSize) previous messages of any level will also be delivered to provide context information. 
      Messages not sent will be discarded.
      -->
      <bufferSize value="25" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="ApplicationServices" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[UserId],[UserIp],[SessionId],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @userId, @userIp, @sessionId, @log_level, @logger, @message, @exception)" />
      
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userId" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{userId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userIp" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{userIp}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@sessionId" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{sessionId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <logger name="NHibernate" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="UdpAppender" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="ALL" />
      <appender-ref ref="UdpAppender" />
    </logger>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="UdpAppender" />
      <appender-ref ref="AdoNetAppender" />      
    </root>
  </log4net>
</configuration>