@{
    ViewBag.Title = "Obtener Turno";
}
<h2>
    Obtener Turno
</h2>

<div class="wizard-steps" data-bind="foreach: stepModels">
    <div data-bind="attr: {class: $parent.getClass($data) }" >
        <a data-bind="click: $parent.changeStep" href="#">
            <span data-bind="text: $data.id"></span>
            <b data-bind="text: $data.name"></b>
        </a>
    </div>
</div>

<div class="ui-helper-clearfix"></div>

<article data-bind="template: { name: 'currentTmpl', data: currentStep, afterRender: currentStep().model().init }">
</article>

<div id="calendar"></div>

<script id="currentTmpl" type="text/html">
    <div data-bind="template: { name: getTemplate(), data: model }"></div> 
</script>

<div id="selectProfesionales">
    <script id="selectProfesional" type="text/html">
        <form>
            <div class="row field_select">
                <label>
                    Por Especialidad:
                </label>
                <br/>
                <select class="select_styled" data-bind="options: especialidades, optionsText: 'Nombre', value: especialidadSeleccionada, optionsCaption: '-- Todas --'">
                </select>            
            </div>
            <div class="row field_text">
                <label>
                    Por Profesional:
                </label>
                <br/>
                <input type="text" class="inputtext required" data-bind="value: profesionalABuscar" />
            </div>
            <div class="row">
                <button data-bind="click: buscarProfesionales">Buscar</button>
            </div>
            <div data-bind='template: { name: "profesionalEncontrado"}'> </div>
        </form>
    </script>

    <script id="selectTurno" type="text/html">
    </script>    

    <script id="selectComprobante" type="text/html">
        <h3>Profesional</h3>
        <div>
            <img data-bind="attr: {src: profesionalSeleccionado().Foto, alt: profesionalSeleccionado().Nombre}" />
            <span data-bind="text: profesionalSeleccionado().Nombre"></span>
            {{each profesionalSeleccionado().Especialidades}}
            ${$value},
            {{/each}}
        </div>
        <h3>Turno</h3>
        <div>
            <span data-bind="text: app.format.fulldate(turnoSeleccionado().FechaTurnoInicial)"></span>
            <span data-bind="text: app.format.fulldate(turnoSeleccionado().FechaTurnoFinal)"></span>
            <span data-bind="text: turnoSeleccionado().Consultorio.Nombre"></span>
        </div>
        <div>
            <button data-bind="click: reservar, visible: turnoId() == null">Reservar Turno</button>
            <button data-bind="click: imprimir, visible: turnoId() != null">Imprimir</button>
        </div>
    </script>

    <script id="profesionalEncontrado" type="text/html">
        {{each profesionalesEncontrados}}
        <div class="row">     
        <img data-bind="attr: { alt: Nombre }" src="../../public/images/doctor_64.png"/>           
        <h3 class="text-blue" data-bind="text: Nombre"></h3>                        
        <ul>
            {{each Especialidades}}
            <li>${Descripcion}</li>
            {{/each}}
        </ul>
            {{if ProximoTurno}}
            <div>
                Pr&oacute;ximo Turno: <a href="" data-bind="click:reservarTurnoLibre,text: app.format.fulldate(ProximoTurno)"></a>
                <br/>
                <a href="" data-bind="click: elegirTurnoEnAgenda">Buscar turno en la agenda</a>
            </div>
            {{else}}
                <div class="ui-state-error-text">El profesional no cuenta con turnos disponibles.</div>
            {{/if}}
        </div>
        {{/each}}
    </script>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/public/js/libs/jquery.mockjax.js")"></script>   
    <script type="text/javascript" src="@Url.Content("~/public/js/features/ObtenerTurno/index.js")"></script>   
}