@model BusquedaProfesionalViewModel
@using Sicemed.Web.Models.ViewModels.ObtenerTurno
@{
    ViewBag.Title = "Obtener Turno";
}
<h2>
    Obtener Turno
</h2>

<div class="wizard-steps" data-bind="foreach: stepModels">
    <div data-bind="attr: {class: $parent.getClass($data) }" >
        <a data-bind="click: $parent.changeStep" href="#">
            <span data-bind="text: $data.id"></span>
            <b data-bind="text: $data.name"></b>
        </a>
    </div>
</div>

<div class="ui-helper-clearfix"></div>

<article data-bind="template: { name: 'currentTmpl', data: currentStep, afterRender: currentStep().model().init }">
</article>

<div id="calendar"></div>

<script id="currentTmpl" type="text/html">
    <h2 data-bind="text: name"></h2>
    <div data-bind="template: { name: getTemplate(), data: model }"></div> 
</script>

<div id="selectProfesionales">
    <script id="selectProfesional" type="text/html">
        <div>
            <label>
                Por Especialidad:
            </label>
            <select data-bind="options: especialidades, optionsText: 'Nombre', value: especialidadSeleccionada">
            </select>            
        </div>
        <div>
            <label>
                Por Profesional:
            </label>
            <input type="text" data-bind="value: profesionalABuscar" />
        </div>
        <div>
            <button data-bind="click: buscarProfesionales">Buscar</button>
        </div>
        <div data-bind='template: { name: "profesionalEncontrado"}'> </div>
    </script>

    <script id="selectTurno" type="text/html">
    </script>    

    <script id="selectComprobante" type="text/html">
        <h3>Profesional</h3>
        <div>
            <img data-bind="attr: {src: profesionalSeleccionado().Foto, alt: profesionalSeleccionado().Nombre}" />
            <span data-bind="text: profesionalSeleccionado().Nombre"></span>
            {{each profesionalSeleccionado().Especialidades}}
                ${$value},
            {{/each}}
        </div>
        <h3>Turno</h3>
        <div>
            <span data-bind="text: app.format.fulldate(turnoSeleccionado().FechaTurnoInicial)"></span>
            <span data-bind="text: app.format.fulldate(turnoSeleccionado().FechaTurnoFinal)"></span>
            <span data-bind="text: turnoSeleccionado().Consultorio.Nombre"></span>
        </div>
        <div>
            <button data-bind="click: imprimir">Imprimir</button>
        </div>
    </script>

    <script id="profesionalEncontrado" type="text/html">
        {{each profesionalesEncontrados}}
            <div>
                <img data-bind="attr: {src: Foto, alt: Nombre}" />
                <span data-bind="text: Nombre"></span>            
                {{each Especialidades}}
                    ${$value}
                {{/each}}
                <div>
                    {{if ProximoTurno}}
                        Pr&oacute;ximo Turno: <a href="" data-bind="click:reservarTurnoLibre,text: app.format.fulldate(ProximoTurno)"></a>
                        <br/>
                        <a href="" data-bind="click: elegirTurnoEnAgenda">Buscar turno en la agenda</a>
                    {{else}}
                        El profesional no cuenta con turnos disponibles.
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </script>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/public/js/libs/jquery.mockjax.js")"></script>   
    <script type="text/javascript" src="@Url.Content("~/public/js/features/ObtenerTurno/index.js")"></script>   
}