@Html.AntiForgeryToken()
<input type="hidden" name="turnoId" value="@Model.Id"/>
<input type="hidden" name="prompt" value=""/>
<a href="#" class="ctl-cancelar-prompt button_link btn_black"><span>Cancelar</span></a>