@using SICEMED.Web
<html>
    <head>
        <title>@MvcApplication.Clinica.RazonSocial</title>
    </head>
	<body>
		@RenderBody()
        <p>
            Saludos,<br/>
            El equipo de @MvcApplication.Clinica.RazonSocial
        </p>
	</body>
</html>