@model Sicemed.Web.Models.Components.Telefono
@using (Html.BeginCollectionItem("Telefonos"))
{
    <div class="editor-field-inner">
        (@Html.EditorFor(x => x.Prefijo)) - @Html.EditorFor(x => x.Numero)
        <a href="#" class="action-delete">Eliminar</a>   
    </div>
}