<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <log4net>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="7071" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
    </appender>
    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd"/>
      <file value="C:\sicemed.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date UserIp:%property{userIp} - RawUrl:%property{rawUrl} - ReferrerUrl:%property{referrerUrl} - UserId:%property{userId} - SessionId: %property{sessionId} - %message%newline"/>
      </layout>
      <rollingStyle value="Date"/>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.;User ID=sa;Password=t3stt3st;Initial Catalog=sicemed" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR" />
      <appender-ref ref="UdpAppender" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="DEBUG" />
      <appender-ref ref="NHibernateAppender" />
    </logger>    
    <root>
      <level value="ALL" />
      <appender-ref ref="UdpAppender" />
      <appender-ref ref="AdoNetAppender" />      
    </root>
  </log4net>
</configuration>