<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!--<sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>-->
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.2, Culture=neutral, PublicKeyToken=1ca6b37997dd7536" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <!--<section name="glimpse" type="Glimpse.Core.Configuration.GlimpseConfiguration" />-->
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.;User ID=sa;Password=t3stt3st;Initial Catalog=sicemed" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClinicaID" value="393216"/>
    <!--<add key="nhibernate-logger" value="NHibernate.Glimpse.LoggerFactory, NHibernate.Glimpse" />-->
    <!--<add key="NHibernate.Glimpse.Loggers" value="command,connection,flush,load,transaction" />-->
  </appSettings>
  <system.web>
    <globalization uiCulture="es" culture="es-AR" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Cuenta/IniciarSesion" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Combres" />
        <add namespace="Combres.Mvc" />
        <add namespace="System.Security.Principal" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="SessionPerRequest" type="Sicemed.Web.Infrastructure.HttpModules.NHibernateSessionModule, Sicemed.Web, Version=1.0.0.0, Culture=neutral" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      <add name="SecurityAuthenticationModule" type="Sicemed.Web.Infrastructure.HttpModules.SecurityAuthenticationModule, Sicemed.Web, Version=1.0.0.0, Culture=neutral" />
      <add name="LoggingThreadContextSetupModule" type="Sicemed.Web.Infrastructure.HttpModules.LoggingThreadContextSetupModule, Sicemed.Web, Version=1.0.0.0, Culture=neutral" />
      <!--<add name="Glimpse" type="Glimpse.Core.Module" />-->
      <!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="Glimpse" type="Glimpse.Core.Module" />-->
    </httpModules>
    <httpHandlers>
      <!--<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />-->
      <!--<add path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler" />
      <add path="nhibernate.glimpse.axd" verb="GET" type="NHibernate.Glimpse.Profiler, NHibernate.Glimpse" />-->
    </httpHandlers>
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <add name="SessionPerRequest" type="Sicemed.Web.Infrastructure.HttpModules.NHibernateSessionModule, Sicemed.Web, Version=1.0.0.0, Culture=neutral" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      <add name="SecurityAuthenticationModule" type="Sicemed.Web.Infrastructure.HttpModules.SecurityAuthenticationModule, Sicemed.Web, Version=1.0.0.0, Culture=neutral" />
      <add name="LoggingThreadContextSetupModule" type="Sicemed.Web.Infrastructure.HttpModules.LoggingThreadContextSetupModule, Sicemed.Web, Version=1.0.0.0, Culture=neutral" />
      <!--<add name="Glimpse" type="Glimpse.Core.Module,Glimpse.Core" preCondition="integratedMode" />-->
      <!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="Glimpse" type="Glimpse.Core.Module,Glimpse.Core" preCondition="integratedMode" />-->
    </modules>
    <handlers>
      <!--<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />-->
      <!--<add name="Glimpse" path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler,Glimpse.Core" preCondition="integratedMode" />
      <add name="NHibernate.Glimpse" path="nhibernate.glimpse.axd" verb="GET" type="NHibernate.Glimpse.Profiler, NHibernate.Glimpse" preCondition="integratedMode" />-->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bootstrapper" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.27275" newVersion="2.0.1.27275" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bootstrapper" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.27275" newVersion="2.0.1.27275" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dotless minifyCss="false" cache="true" web="false" />
  <!--<combres definitionUrl="~/App_Data/combres.xml" logProvider="Combres.Loggers.Log4NetLogger" />-->
  <combres definitionUrl="~/App_Data/combres.xml" />
  <!--<glimpse enabled="false" />-->
</configuration>