@model Sicemed.Web.Models.ViewModels.ListadoObraSociales.ListadoObraSocialesViewModel
@{
    ViewBag.Title = "ListadoObraSociales";
}

<h2>
    Listado de Obras Sociales
</h2>
<p>
    Estas son las Obras Sociales que se atienden en la institución

    EN CONSTRUCCIÓN
</p>
